<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onPress('1')"
      >
        1
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onPress('2')"
      >
        2
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onPress('3')"
      >
        3
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onPress('4')"
      >
        4
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onPress('5')"
      >
        5
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onPress('6')"
      >
        6
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onPress('7')"
      >
        7
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onPress('8')"
      >
        8
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onPress('9')"
      >
        9
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onReturn()"
      >
        <ion-icon name="backspace"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onPress('0')"
      >
        0
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        class="ion-no-margin"
        fill="solid"
        expand="full"
        color="light"
        (click)="onEnter()"
      >
        <ion-icon name="return-down-back"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
