<ion-header>
  <ion-toolbar>
    <ion-title size="large">New player</ion-title>
    <ion-back-button
      slot="start"
      defaultHref="/{{ Pages.MANAGE_PLAYERS }}"
    ></ion-back-button>
    <ion-buttons slot="end">
      <ion-button fill="clear" id="context-menu-trigger">
        <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-popover
        trigger="context-menu-trigger"
        triggerAction="click"
        dismissOnSelect
      >
        <ng-template>
          <ion-content class="ion-no-padding">
            <ion-list lines="none">
              <ion-item (click)="helpModal.present()">
                <ion-label>Help</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Help modal -->
<ion-modal #helpModal>
  <ng-template>
    <div class="wrapper">
      <h1>New player</h1>

      <p>This screen is for creating, editing and deleting players.</p>

      <p>
        The nickname, if given, will be used on the scoreboard. It is also
        needed to distinguish between players with identical names.
      </p>

      <ion-button expand="block" fill="outline" (click)="helpModal.dismiss()">
        OK
      </ion-button>
    </div>
  </ng-template>
</ion-modal>

<ion-content fullscreen>
  <ion-item-group [formGroup]="form">
    <ion-item>
      <ion-input placeholder="Name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Nickname" formControlName="nickname"></ion-input>
    </ion-item>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="solid" expand="full" (click)="cancel()">
          Cancel
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="solid" expand="full" (click)="confirm()">
          Confirm
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
